body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	position: relative;
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
}



.item:nth-child(1),
.item:nth-child(2) {
  grid-column: span 1; /* Первая строка: 2 колонки */
}

.item:nth-child(3),
.item:nth-child(4) {
  grid-column: span 2; /* Вторая и третья строки: 1 колонка шириной в две ячейки */
}

.img {
	width: 150px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}





.input-field {
    margin: 15px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-regular);
    color: var(--primary-text-color);
    user-select: none;
    box-sizing: inherit;
    position: relative;
    align-items: center;}

.input-field-input {
    font-weight: 400;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: var(--font-regular);
    --body-background-color: #fff;
    --body-background-color-rgb: 255, 255, 255;
    --background-color-true: #f4f4f5;
    --background-color: var(--background-color-true);
    --border-color: #dfe1e5;
    --input-search-background-color: #fff;
    --input-search-border-color: #dfe1e5;
    --height: 54px;
    --border-radius: 10px;
    --padding: 1rem;
    --padding-horizontal: 1rem;
    --border-width: 1px;
    border: var(--border-width) solid var(--input-search-border-color);
    border-radius: var(--border-radius);
    padding: calc(var(--padding) - var(--border-width)) calc(var(--padding-horizontal) - var(--border-width));
    box-sizing: border-box;
    width: 100%;
    min-height: var(--height);
    transition: 0s border-color;
    position: relative;
    z-index: 1;
    line-height: var(--line-height);
    caret-color: var(--primary-color);
    color: var(--primary-text-color);
    background-color: transparent;
    user-select: text;
    outline: none;
    cursor: text;
    white-space: pre-wrap;
    --letter-spacing: -0.32px;}

label {
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: var(--font-regular);
    --z-below: -1;
    --hover-alpha: .08;
    --reflect: 1;
    --transition-standard-easing: cubic-bezier(.4, 0, .2, 1);
    --transition-standard-in-time: .3s;
    --transition-standard-out-time: .25s;
    --transition-standard-in: var(--transition-standard-in-time) var(--transition-standard-easing);
    --transition-standard-out: var(--transition-standard-out-time) var(--transition-standard-easing);
    --transform-origin-inline-start: left;
    --transform-origin-inline-end: right;
    --transform-origin-left-center: left center;
    --transform-origin-right-center: right center;
    --pm-transition: .2s ease-in-out;
    --layer-transition: .2s cubic-bezier(.4, 0, .2, 1);
    --slide-header-transition: .4s ease-in-out;
    --tabs-transition: .2s ease-in-out;
    --btn-menu-transition: .2s cubic-bezier(.4, 0, .2, 1);
    --esg-transition: var(--btn-menu-transition);
    --input-transition: .2s ease-out;
    --input-placeholder-transition: .15s ease-out;
    --sticker-viewer-open-transition-in: .2s var(--transition-standard-easing);
    --sticker-viewer-open-transition-out: .2s var(--transition-standard-easing);
    --sticker-viewer-switch-transition: .2s cubic-bezier(.12,1.1,.56,1.2);
    --popup-transition-function: cubic-bezier(.4, 0, .2, 1);
    --popup-transition-time: .15s;
    --popup-transition: var(--popup-transition-time) var(--popup-transition-function);
    --btn-corner-transition: .2s cubic-bezier(.34, 1.56, .64, 1);
    --chatlist-badge-transition-in: .25s cubic-bezier(.35,.35,.47,1.34);
    --chatlist-badge-transition-out: .25s cubic-bezier(.35,.35,.7,1);
    --message-handhelds-margin: 5.5625rem;
    --message-beside-button-size: 2.375rem;
    --message-beside-button-margin: calc((var(--message-beside-button-size) + .5rem) * -1);
    --message-time-background: rgba(0, 0, 0, .35);
    --messages-container-width: 728px;
    --messages-text-size: 16px;
    --messages-line-height: 1.3125;
    --messages-secondary-text-size: calc(var(--messages-text-size) - 2px);
    --messages-secondary-line-height: calc(var(--messages-secondary-text-size) + 4px);
    --messages-time-text-size: calc(var(--messages-text-size) - 4px);
    --messages-service-text-size: calc(var(--messages-text-size) - 1px);
    --messages-custom-emoji-size: calc(var(--messages-text-size) + 4px);
    --bubble-transition-in: transform var(--transition-standard-in), opacity var(--transition-standard-in);
    --bubble-transition-out: transform var(--transition-standard-out), opacity var(--transition-standard-out);
    --line-height-20: 26px;
    --line-height-18: 24px;
    --line-height-16: 21px;
    --line-height-15: 20px;
    --line-height-14: 18px;
    --line-height-13: 17px;
    --line-height-12: 16px;
    --line-height-11: 15px;
    --line-height: 1.3125;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-15: 15px;
    --font-size-14: 14px;
    --font-size-13: 13px;
    --font-size-12: 12px;
    --font-size-11: 11px;
    --font-size: var(--font-size-16);
    --esg-sticker-size: 72px;
    --esg-custom-emoji-size: 36px;
    --popup-sticker-size: 80px;
    --disabled-opacity: .3;
    --round-video-size: 280px;
    --menu-box-shadow: 0px 0px 10px var(--menu-box-shadow-color);
    --menu-backdrop-filter: blur(50px);
    --font-regular: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-monospace: "Roboto Mono", monospace;
    --font-weight-bold: 500;
    --font-weight-normal: 400;
    --selection-background-color: rgba(var(--primary-color-rgb), .4);
    --selection-color: inherit;
    --white: #ffffff;
    --ripple-end-scale: 2;
    --topbar-floating-scaleX: 1;
    --topbar-call-group-call-height: 3rem;
    --topbar-call-call-height: 3rem;
    --topbar-call-rtmp-height: 1.6875rem;
    --topbar-floating-call-height: 0px;
    --call-button-size: 3.375rem;
    --call-button-margin: 2rem;
    --custom-emoji-size: 1.25rem;
    --chat-input-border-radius: 1rem;
    --chat-input-max-width: var(--messages-container-width);
    --chat-input-btn-send-margin: .5rem;
    --peer-avatar-red-top: #FF845E;
    --peer-avatar-red-bottom: #D45246;
    --peer-avatar-orange-top: #FEBB5B;
    --peer-avatar-orange-bottom: #F68136;
    --peer-avatar-violet-top: #B694F9;
    --peer-avatar-violet-bottom: #6C61DF;
    --peer-avatar-green-top: #9AD164;
    --peer-avatar-green-bottom: #46BA43;
    --peer-avatar-cyan-top: #53edd6;
    --peer-avatar-cyan-bottom: #28c9b7;
    --peer-avatar-blue-top: #5CAFFA;
    --peer-avatar-blue-bottom: #408ACF;
    --peer-avatar-pink-top: #FF8AAC;
    --peer-avatar-pink-bottom: #D95574;
    --peer-avatar-archive-top: #B8C2CC;
    --peer-avatar-archive-bottom: #9EAAB5;
    --peer-avatar-saved-top: var(--light-filled-saved-color);
    --peer-avatar-saved-bottom: var(--saved-color);
    --peer-color: var(--primary-color);
    --peer-color-rgb: var(--primary-color-rgb);
    --avatar-color-story-unread-from: #34c76f;
    --avatar-color-story-unread-to: #3da1fd;
    --avatar-color-story-close-from: #88D93A;
    --avatar-color-story-close-to: #30B73B;
    --avatar-color-story-read: var(--secondary-color);
    --avatar-color-top: var(--peer-avatar-saved-top);
    --avatar-color-bottom: var(--peer-avatar-saved-bottom);
    --avatar-border-radius-forum: 37%;
    --premium-gradient: linear-gradient(52.62deg, #6B93FF 12.22%, #976FFF 50.25%, #E46ACE 98.83%);
    --star-background-color: var(--surface-color);
    --ripple-duration: .4s;
    --ripple-start-scale: .27;
    --right-column-width: 420px;
    --chat-input-size: 3.375rem;
    --chat-input-padding: .8125rem;
    --chat-input-inner-padding: .5rem;
    --body-background-color: #fff;
    --body-background-color-rgb: 255, 255, 255;
    --background-color-true: #f4f4f5;
    --background-color: var(--background-color-true);
    --border-color: #dfe1e5;
    --scrollbar-color: rgba(0, 0, 0, .2);
    --section-box-shadow-color: rgba(0, 0, 0, .06);
    --menu-box-shadow-color: rgba(0, 0, 0, .15);
    --input-search-background-color: #fff;
    --input-search-border-color: #dfe1e5;
    --secondary-color: #c4c9cc;
    --warning-color: #fed85a;
    --avatar-online-color: var(--primary-color);
    --chatlist-status-color: var(--avatar-online-color);
    --chatlist-pinned-color: #a2abb2;
    --badge-text-color: #fff;
    --link-color: #00488f;
    --ripple-color: rgba(0, 0, 0, .08);
    --skeleton-color: rgba(0, 0, 0, .12);
    --poll-circle-color: var(--border-color);
    --spoiler-background-color: #e3e5e8;
    --spoiler-draft-background-color: #d9d9d9;
    --monospace-text-color: var(--danger-color);
    --backdrop-opacity: .85;
    --menu-background-color: rgba(var(--surface-color-rgb), var(--backdrop-opacity));
    --rlottie-vector-fill: rgba(0, 0, 0, .08);
    --limit-line-empty-background: #F1F3F5;
    --old-input-background-color: #F1F3F5;
    --premium-color: #9275ff;
    --gc-background-color: #212121;
    --gc-button-leave-color: rgba(255, 89, 90, .3);
    --gc-button-unmuted-color: rgba(1, 200, 80, .2);
    --gc-button-muted-color: rgba(60, 135, 247, .2);
    --gc-button-hand-color: rgba(223, 68, 184, .2);
    --gc-button-unmuted-fill-color: #195530;
    --gc-button-muted-fill-color: #3C87F7;
    --gc-green-color: #195530;
    --gc-blue-color: #3C87F7;
    --gc-red-color: #643333;
    --gc-primary-text-color: #fff;
    --gc-secondary-text-color: #aaaaaa;
    --gc-green-text-color: #5CC85E;
    --gc-blue-text-color: #3390ec;
    --gc-red-text-color: #ff595a;
    --gc-right-column-width: 26.25rem;
    --vh: 7.15px;
    --primary-color: #3390ec;
    --primary-color-rgb: 51,144,236;
    --light-primary-color: rgba(51, 144, 236, 0.08);
    --light-filled-primary-color: #eef6fd;
    --saved-color: #3390ec;
    --light-filled-saved-color: #7cb7f2;
    --message-out-background-color: #e3fee0;
    --message-out-background-color-rgb: 227,254,224;
    --light-message-out-background-color: rgba(227, 254, 224, 0.12);
    --light-filled-message-out-background-color: #fbfefb;
    --message-out-primary-color: #5ca853;
    --message-out-primary-color-rgb: 92,168,83;
    --light-filled-message-out-primary-color: #d8f7d4;
    --surface-color: #ffffff;
    --surface-color-rgb: 255,255,255;
    --danger-color: #df3f40;
    --danger-color-rgb: 223,63,64;
    --light-danger-color: rgba(223, 63, 64, 0.08);
    --primary-text-color: #000000;
    --primary-text-color-rgb: 0,0,0;
    --secondary-text-color: #707579;
    --light-secondary-text-color: rgba(112, 117, 121, 0.08);
    --light-filled-secondary-text-color: #f3f3f4;
    --message-background-color: #ffffff;
    --light-message-background-color: rgba(255, 255, 255, 0.08);
    --light-filled-message-background-color: #ffffff;
    --green-color: #70b768;
    --message-highlighting-color: hsla(86.4, 43.846153%, 45.117647%, .4);
    --message-highlighting-color-rgb: 121,165,65;
    --message-highlighting-alpha: 0.4;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --height: 54px;
    --border-radius: 10px;
    --padding: 1rem;
    --padding-horizontal: 1rem;
    --border-width: 1px;
    box-sizing: inherit;
    position: absolute;
    color: #9e9e9e;
    top: 0;
    inset-inline: 1rem auto;
    z-index: 2;
    height: 1.5rem;
    background-color: var(--surface-color);
    transform-origin: var(--transform-origin-left-center);
    pointer-events: none;
    margin: 15px 0;
    user-select: none;
    white-space: nowrap;
    transform: translate(-.1875rem,calc(var(--height) / -2 + .0625rem)) scale(.75);
    padding: 0 .3125rem;
    opacity: 1;
    transition: .2s transform,.2s padding,.1s opacity,font-weight 0s .1s;}

.input-field-border {
line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-regular);
    color: var(--primary-text-color);
    user-select: none;
    box-sizing: inherit;
    position: absolute;
    inset: 0;
    border: 2px solid var(--primary-color);
    opacity: 0;
    border-radius: var(--border-radius);
    pointer-events: none;
    z-index: 1;
    transition: opacity .2s;}

.i18n {
    margin: 100px 0;
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-regular);
    color: rgb(112,117,121);
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    box-sizing: inherit;}

.flatpickr-calendar {
  width: auto !important;


    --border-color: #dfe1e5;
    --input-search-background-color: #fff;
    --input-search-border-color: #dfe1e5;
    --height: 54px;
    --border-radius: 10px;
    --padding-horizontal: 1rem;
    --border-width: 1px;
    border: var(--border-width) solid var(--input-search-border-color);
    border-radius: var(--border-radius);
    padding: calc(var(--padding) - var(--border-width)) calc(var(--padding-horizontal) - var(--border-width));
    box-shadow: none;
}

#input-container {
            position: relative; /* Устанавливаем относительное позиционирование для контейнера */
        }

#suggestions_to_field {
    --border-color: #dfe1e5;
    --input-search-background-color: #fff;
    --input-search-border-color: #dfe1e5;
    --border-radius: 10px;
            display: none;
            position: absolute; /* Устанавливаем абсолютное позиционирование для списка предложений */
            background: white;
            z-index: 1000;
            width: calc(200% + 30px);
            max-height: 200px; /* Максимальная высота списка */
            overflow-y: auto; /* Прокрутка при превышении высоты */
            left: calc(-100% - 30px);; /* Сдвигаем сообщение влево на 10 пикселей */
                 }

#suggestions_from_field {
    --border-color: #dfe1e5;
    --input-search-background-color: #fff;
    --input-search-border-color: #dfe1e5;
    --border-radius: 10px;
            display: none;
            position: absolute; /* Устанавливаем абсолютное позиционирование для списка предложений */
            background: white;
            z-index: 1000;
            width: calc(200% + 30px);
            max-height: 200px; /* Максимальная высота списка */
            overflow-y: auto; /* Прокрутка при превышении высоты */
            box-sizing: border-box;
                 }
        .suggestion-item {
	    background-color: #F9F9F9;
            line-height: 1.5;
            text-align: left;
            margin: 5px 0px 0px;
            cursor: pointer;
            max-width: 390px; /* Чтобы список занимал всю ширину родителя */


        }
        .suggestion-item:hover {
            background-color: #f0f0f0;
        }


        .error {
            color: var(--tg-theme-text-color);
            background: white;
            z-index: 200;
            position: absolute; /* Абсолютное позиционирование */
            top: 100%; /* Сразу под контейнером */
            left: 0;
            width: calc(200% + 30px);
            opacity: 1; /* Начальная непрозрачность */
            transition: opacity 0.5s ease-out; /* Плавный переход для исчезновения */
            display: none; /* Скрываем сообщение по умолчанию */
            margin-top: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
        }
        .error-to-field {
            left: calc(-100% - 30px);; /* Сдвигаем сообщение влево на 10 пикселей */
            width: calc(200% + 30px);
        }
        .error.fade-out {
            opacity: 0; /* Непрозрачность 0 для исчезновения */
        }

select {
            -webkit-appearance: none; /* Убирает стрелочку в Safari */
            -moz-appearance: none; /* Убирает стрелочку в Firefox */
            appearance: none; /* Убирает стрелочку в других браузерах */
            padding: 10px; /* Добавляем отступы */
        }
